* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(11, 16, 38, 255);
  font-family: verdana;
  color: aliceblue;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
.header-left img {
  height: 100px;
  margin-left: 20px;
}
.header-left h1 {
  margin-left: 20px;
}
.header-left p {
  margin-left: 70px;
}
.header-right {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right input {
  margin-right: 40px;
  outline: none;
  height: 30px;
  width: 350px;
  border-radius: 5px;
  background: none;
  border: none;
  border: 1px solid grey;
  color: aliceblue;
  background-color: rgba(17, 25, 61, 255);
  background-image: url(images/icons8-search-24.png);
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 3px;
  padding-left: 30px;
}
.header-right input::placeholder {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.header-right i {
  margin-right: 50px;
}
.header-right i img {
  height: 60px;
}
.header-right img.profile {
  margin-right: 10px;
  border: 3px solid white;
  border-radius: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contents {
  width: 900px;
  margin-left: 10%;
}
.carousel {
  margin-top: 5%;
  text-align: center;
  height: 300px;
  background-color: brown;
  background-image: url(images/back-img.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel img {
  height: 300px;
  width: 600px;
}

.four {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  padding: 20px;
}
h3 {
  margin: 20px 0 0 10px;
  cursor: pointer;
}
.one-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song-zindagi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.song-zindagi label img:hover {
  cursor: pointer;
  opacity: 0.3;
}

.dropdown {
  position: absolute;
  width: 10rem;
  background-color: aliceblue;
  z-index: 4;
  display: none;
}
.dropdownContent {
  color: black;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  /* justify-content: space-around; */
}
/* 
.dropdownContent:hover {
  color: aliceblue;
} */

.show {
  display: block;
}

.hide {
  display: none;
}

.show:focus ~ .dropdown {
  display: block;
}

.show:focus ~ .hide {
  display: block;
}

.show:focus {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hide:focus ~ .dropdown {
  display: none;
}
/*  */
#fix {
  height: 130px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url(images/zindagi-play.png);
  background-size: cover;
  z-index: 5;
}
#check,
#fix {
  display: none;
}
#check:checked ~ #fix {
  display: block;
}
.song-name {
  padding: 20px;
}
.song-name p {
  padding: 10px;
}
.timing {
  user-select: none;
  margin-bottom: 20%;
}
.timing h3 {
  padding-bottom: 10px;
}
.popular h3 {
  padding-bottom: 10px;
}
.artist-list {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
}
.artist {
  text-align: center;
  border-radius: 30px;
}
.artist img {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 60%;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
}
.mood {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  background-color: rgba(17, 25, 61, 255);
  border-radius: 10px;
}
.mood p {
  margin-top: 20%;
  font-size: 30px;
  color: rgb(253, 253, 255);
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 0.9;
}
.mood div {
  height: 100px;
  width: 200px;
  opacity: 0.5;
  border-radius: 70%;
  border-style: groove;
  padding: 10px;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
.love {
  background-image: url(images/love.jpg);
}
.chill {
  background-image: url(images/chill.jpg);
}
.retro {
  background-image: url(images/radio.png);
}
.workout {
  background-image: url(images/workout.jpg);
}
.rock {
  background-image: url(images/rock.jpg);
}
.pop {
  background-image: url(images/pop.jpg);
}
.types {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.types div {
  height: 200px;
  width: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  border-radius: 10px;
}
.types div:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.types .party {
  background-image: url(images/rock2.jpg);
}
.types .electronic {
  background-image: url(images/rock2.jpg);
}
.types .road-trip {
  background-image: url(images/rock2.jpg);
}
.types p {
  text-align: center;
  margin-top: 20%;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
.latest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}
.queue {
  margin-top: 3%;
  width: 600px;
  height: 1900px;
  text-align: center;
  overflow-y: scroll;
}
.queue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.queue-header p {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.queue-header select {
  border: none;
  outline: none;
  background-color: rgba(11, 16, 38, 255);
  color: aliceblue;
  margin-right: 20px;
}
.queue-header select option {
  background-color: aliceblue;
  border-bottom: 1px solid black;
  color: black;
  font-size: 15px;
}
.queue-header select option:hover {
  background-color: red;
}
.song {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.song-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}
.heart {
  margin-top: 2%;
}
.song-info h4 {
  text-transform: uppercase;
}
.song-info img {
  border: 2px solid white;
  border-radius: 40px;
  height: 60px;
  margin: 0 2px;
}
